{block #head}
<link rel="stylesheet" n:webpack="admin.css">
<script n:webpack="admin.js" defer></script>
{/}

{block #content}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Hello admin!</h1>
</div>

<div class="text-center">
    <button data-url="{link //Spotlight:}" id="spotlight-trigger" class="btn btn-danger">Open Spotlight</button>
</div>