{block #head}
    <link rel="stylesheet" n:webpack="front.css">
    <script n:webpack="front.js" defer></script>
{/}

{block #content}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Github viewer</h1>
    <p class="lead">List of your all Github's stars.</p>
</div>

<div id="app"></div>
